.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #bf4747;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-app h2 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.todo-app h2 img {
    margin-left: 10px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

#input-box {
    flex: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

button.edit-btn {
    background-color: #fbc02d;
    color: #fff;
    border-radius: 0;
}

button.delete-btn {
    background-color: #e53935;
    color: #fff;
    border-radius: 0;
    margin-left: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.checked {
    text-decoration: line-through;
    color: #999;
}
